{
  "extends": ["airbnb", "prettier", "prettier/react", "airbnb/hooks"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "react-hooks"],
  "parserOptions": {
    "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": { "jsx": true }
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "camelcase": 0,
    "consistent-return": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "linebreak-style": [0],
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-return-assign": 0,
    "no-undef": 0,
    "no-unneeded-ternary": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "no-use-before-define": 0,
    "no-var": 0,
    "prefer-const": 0,
    "prefer-destructuring": 0,
    "spaced-comment": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": [0],
    "react/no-access-state-in-setstate": 0,
    "react/no-array-index-key": 0,
    "react/sort-comp": [0],
    "react/prop-types": 0,
    "react/prefer-stateless-function": [0],
    "react/button-has-type": 0,
    "react/state-in-constructor": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-newline": 0,
    "react/jsx-props-no-spreading": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "arrow-body-style": [0, "as-needed"],
    "jsx-control-statements/jsx-use-if-tag": 0,
    "no-restricted-syntax": [1, "DebuggerStatement"] // 1-warn
  }
}
